/*  import google fonts */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
*{
    margin: 0;
    padding: 0;
    border: none;
    outline: none;
    text-decoration: none;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
body{
    background: #DBF8F8;
}
.header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 60px;
    padding: 20px;
    background: #fff;
}
.logo{
    display: flex;
    align-items: center;
}

/*.logo img{*/
/*    color: #989394;*/
/*    background-size: 10px;*/
/*    margin: 2rem 8rem 2rem 2rem;*/
/*}*/

.search_box{
    display: flex;
    align-items: center;
}
.search_box input{
    padding: 9px;
    width: 250px;
    background: #DBF8F8;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.search_box i{
    padding: 0.66rem;
    cursor: pointer;
    color: #fff;
    background: #0B9394;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}
.header-icons{
    display: flex;
    align-items: center;
}
.header-icons i{
    margin-right: 2rem;
    cursor: pointer;
}
.header-icons .account{
    width: 130px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.header-icons .account img{
    width: 35px;
    height: 35px;
    cursor: pointer;
    border-radius: 50%;
}
.container{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
}

.sidebarnew {
    margin-top: 70px;
    height: 100%;
    width: 230px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #fff;
    overflow-x: hidden;
    padding-top: 16px;
    border-radius: 5px;
}

.sidebarnew span {
    font-weight: 500;
    font-size: 15px;
    padding: 6px 8px 6px 16px;
    margin-left: 10px;
    margin-bottom: 40px;
    text-decoration: none;
    color: #0B9394;
    display: block;
}

/* Style sidebar links */
.sidebarnew a {
    font-weight: 500;
    font-size: 15px;
    padding: 6px 8px 6px 16px;
    margin-left: 10px;
    margin-bottom: -20px;
    text-decoration: none;
    color: #0B9394;
    display: block;
}

/* Style links on mouse-over */
.sidebarnew a:hover {
    background: #EDFBFB;

}
.sidebarnew .active{
    border-left: #EDFBFB;
}

/* Style the main content */
.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    padding: 0px 50px;
}


/* Main Body Section */
.main-body{
    margin-left: 250px;
    width: 70%;
    padding: 1rem;
}
.promo_card{

    width: 100%;
    color: #fff;
    margin-top: 10px;
    border-radius: 8px;
    padding: 0.5rem 1rem 1rem 3rem;
    background: #0B9394;
}
.promo_card h1, .promo_card span, button{
    margin: 5px;
}
.promo_card button{
    margin-top: 10px;
    display: block;
    padding: 6px 12px;
    border-radius: 5px;
    cursor: pointer;
}
.history_lists{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.row{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1rem 0;
}
table{
    background: #fff;
    padding: 1rem;
    text-align: left;
    border-radius: 10px;
}
table td, th{
    padding: 0.2rem 0.8rem;
}
table th{
    font-size: 15px;
}
table td{
    font-size: 13px;
    color: #0B9394;
}
